/* Stylesheet zur Gestaltung der Seite */
.site-header {
    background-image: url('Banner.jpg'); /* Passe den Pfad zu deinem Bild an */
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    padding: 1em 0;
    width: auto;
    overflow: hidden;
    top: 0;
    z-index: 1000;
}


body {
        background-color: white;
        font-family: sans-serif;
}

h1 {
        background-color: blue;
        color: blanchedalmond;
        padding: 8px;

}

/* Provisorische Gestaltung der Navigationsleiste */

.site-nav {
        position: sticky;
        top: 0;
        z-index: 100;
}

.site-nav-list {
        background-color: black;
        padding: 0.5em;
        position: sticky;
        top: 0;
        z-index: 1000;

}

.site-nav-list li {
        display: inline;
        margin-right: 1em;

}

.site-nav-list a {
        color: white;
        text-decoration: none;
        padding: 0.6em; /* Hier kannst du die Polsterung für den Text einstellen */
        transition: background-color 0.3s ease; /* Füge eine flüssige Übergangsanimation hinzu */
        
}

.site-nav-list a:hover {
    background-color: #00ff2a; /* Ändere die Hintergrundfarbe nach Bedarf */
}


/* Fixieren des menues*/

/* Stile für die Slideshow */
.slideshow-container {
        max-width: 1000px;
        position: relative;
        margin: auto;
    }
    
    .mySlides {
        display: none;
        animation: fadeInOut 9s ease-in-out infinite;
        transition: left 1s ease-in-out;
    }
    
    .mySlides img {
        width: 100%;
    }
    
    @keyframes fadeInOut {
        0% {
            opacity: 0.3;
        }
    
        100% {
            opacity: 1;
        }
    }
    
